body {
  margin: 0;
  color: #fff;
}

span {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#wrapper {
  display: block;
  margin: 0 auto;
  width: 1412px;
  background-color: #c0c0c0;
  padding: 20px;
  overflow: hidden;
}

/* Rock */

#wrapper_rock {
  display: block;
  padding: 50px 50px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  height: 408px;
  width: 256px;
  background-color: #8a5e42;
  float: left;
}

#wrapper_rock:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  cursor: pointer;
}

#rock {
  display: block;
  width: 256px;
  height: 256px;
}

#pebbles {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 32px;
  line-height: 32px;
  font-family: 'cabin', sans-serif;
  margin: 20px 0 0 0;
}

#pebblespersecond {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  font-family: 'cabin', sans-serif;
  margin: 10px 0;
}

/* Buildings */

#wrapper_buildings {
  float: left;
  margin-left: 20px;
  overflow: hidden;
}

#wrapper_buildings2 {
  float: left;
  margin-left: 20px;
  overflow: hidden;
}

.building {
  display: block;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  height: 204px;
  background-color: #8a5e42;
  width: 204px;
  margin: 0 20px 20px 0;
  float: left;
}

.building:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  cursor: pointer;
}

.building span {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  font-family: 'cabin', sans-serif;
}

.building span span {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  font-family: 'cabin', sans-serif;
}

.rightmostpanel {
  margin-right: 0;
}
